body{

font-size: 40px;
color: white;

}

div{
    background-color: MediumSeaGreen;
    padding: 2px 0px ;
    width: 50%;
}


.fruits{
    
    background-color:Green;
    
}

 li{
   background-color:SeaGreen;
   margin: 20px;
 width: 90%; 
 
} 


ol{
  /* counter-reset: "section 1"; 
  background-color: SeaGreen; 
   margin: 20px;  */
    /* list-style-type: none;  */
      list-style: none; 
     /* list-style-type:decimal;   */
     /* background-color: SeaGreen;
      margin: 35px;
       margin: 20px;
 width: 90%;   */
      
 } 

li::before{
  
  content: "\263B";
  background-color: SeaGreen;
}


   


