.row{
    height: 900px;
    width: 1500px;
    border: 5px solid #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* align-items: flex-end;
    align-items: flex-start; */
    /* justify-content: center; */
    /* justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; */
    /* justify-content: flex-end; */

    gap: 50px;
    gap: 50px 100px;

    flex-direction: column;
    flex-direction: column-reverse;



}
.item{
    width: 200px;
    height: 200px;
    border: 2px solid red;
    /* display: inline-block; */

}

.item:nth-child(2n+1){
    background-color: black;
    height: 400px;
    width: 400px;

}
.item:nth-child(2n){
    background-color: yellow;

}
.item:nth-child(4){
    background-color: green;

}

.meny{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

}

.meny-item > a{
    color: white;
    font-size: 20px;
    line-height: 24px;
    padding: 15px 20px;
    background-color: black;
    display: block;

}
.meny-item{
    position: relative;
}
.inside-meny{
    display: none;
    position: absolute;
    left: 0;
    bottom: 100%;

}
.meny-item:hover .inside-meny{
    display: block;

}
